<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <section class="hero is-light is-fullheight">
          <div class="hero-body">
              <div class="container has-text-centered">
                  <div class="column is-4 is-offset-4">
                      <div class="box">
                          <figure class="avatar">
                              <img src="/login.png">
                          </figure>
                          <form>
                              <div class="field">
                                  <div class="control">
                                       <%= f.email_field :email, autocomplete: "email", class: "input is-medium", placeholder: "Tu E-mail" %>
                                  </div>
                              </div>
                              <div class="field">
                                  <div class="control">
                                       <%= f.password_field :password, autocomplete: "current-password", class:"input is-medium", placeholder: "Tu Password" %>
                                  </div>
                              </div>
                              <% if devise_mapping.rememberable? -%>
                                  <div class="field check_box">
                                    <%= f.check_box :remember_me %>
                                    <%= f.label 'Recordar' %>
                                  </div>
                                <% end -%>
                              <div class="actions">
                                <%= f.submit "Ingresar", class:"button is-block is-info is-large is-fullwidth" %>
                              </div>
                          </form>
                      </div>
                      <p class="has-text-grey">
                          <%= render "devise/shared/links" %>
                      </p>
                  </div>
              </div>
          </div>
      </section>  
<% end %>