<div class="column container is-three-fifths">
	<%= simple_form_for @post, html: { multipart: true } do |f| %>
	<div class="field">
		<div class="control">
			<%= f.input :title, input_html: {class: 'input '}, wrapper: false, label_html: {class: 'label'} %>
		</div>
	</div>
	<div class="fiel">
		<div class="control">
			<label class="label"> Portada | 720x240 | </label>
			<%= f.file_field :image %>
		</div>
	</div>
	<div class="field">
		<div class="control">
			<%= f.input :content, input_html: {class: 'textarea'}, wrapper: false, label_html: {class: 'label'} %>
		</div>
	</div>
	<%= f.hidden_field :user_id, value: current_user[:id] %>
	<%= f.button :submit, class: "button is-primary" %>
	<% end %>
</div>